@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800;900");

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4732f;
}

.footer-nav-container {
  margin: 0;
  padding: 0;
}

.footer-top-nav {
  margin-top: 10px;
}

.footer-home-youtube-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.footer-text-container {
  text-decoration: none;
}

.footer-text {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-family: Poppins;
  font-weight: 400;
}

.footer-credit {
  color: #747474;
  text-align: center;
}

@media (min-width: 700px) {
  .footer-container {
    padding: 30px 5%;
    height: 100px;
  }

  .footer-text {
    font-size: 1.05rem;
  }

  .footer-home-youtube-container {
    margin-bottom: 15px;
  }
}

@media (min-width: 321px) and (max-width: 699px) {
  .footer-container {
    padding: 15px;
  }

  .footer-text {
    font-size: 0.875rem;
  }
}

@media (max-width: 320px) {
  .footer-container {
    height: 80px;
  }

  .footer-nav-container {
    padding-top: 10px;
  }

  .footer-text {
    font-size: 0.625rem;
  }

  .footer-left-item {
    margin-left: 10px;
  }

  .footer-youtube {
    margin-right: 10px;
  }
}
