@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800;900");
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Other Pages - Not Home */
.other-pages-section {
  position: relative;
}

/* Other Pages Section Veil */
.other-pages-veil {
  height: 100%;
  background-color: black;
  opacity: 50%;
}

/* Other pages Body */
.other-pages-body-container {
  display: flex;
  flex-direction: column;
}

.other-pages-body-title {
  font-family: Poppins;
  font-weight: 400;
}

.navigation-side-menu {
  background-color: #f4732f;
  position: fixed;
  z-index: 2;
  font-family: Poppins;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.navigation-side-menu-options-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navigation-side-menu-link-text-container {
  display: flex;
  justify-content: center;
}

.navigation-side-menu-text-container {
  color: white;
}

.navigation-side-menu-text {
  text-align: center;
}

.remove-text-decoration {
  text-decoration: none;
}

.side_bar {
  transition: all 1s ease;
  transform: translate(100%);
}

.show_side_bar {
  transform: translate(0);
}

@media (max-width: 320px) {
  .other-pages-section {
    height: 170px;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-image: url("../public/grand-piano-small.jpg");
    background-size: 132%;
  }

  .other-pages-body-title {
    margin: 13px 0;
    font-size: 0.875rem;
    align-self: center;
  }

  .navigation-side-menu {
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding: 10px;
  }

  .navigation-side-menu-close {
    align-self: end;
  }
}
