.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Other Pages - Not Home */
.other-pages-section {
  position: relative;
}

/* Other Pages Section Veil */
.other-pages-veil {
  height: 100%;
  background-color: black;
  opacity: 50%;
}

/* Other pages Body */
.other-pages-body-container {
  display: flex;
  flex-direction: column;
}

.other-pages-body-title {
  font-family: Poppins;
  font-weight: 400;
}

@media (max-width: 320px) {
  .other-pages-section {
    height: 170px;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-image: url("../public/grand-piano-small.jpg");
    background-size: 132%;
  }

  .other-pages-body-title {
    margin: 13px 0;
    font-size: 0.875rem;
    align-self: center;
  }
}
