@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800;900");

/* Hire Jane Text */
.hire-jane-text-container {
  position: absolute;
  font-family: Poppins;
  color: white;
}

.hire-jane-text-headline {
  font-weight: 700;
  margin-top: 0;
}

/* Media Queries */
@media (min-width: 1001px) {
  .hire-jane-text-container {
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .hire-jane-text-headline {
    font-size: 2rem;
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 321px) and (max-width: 1000px) {
  .hire-jane-text-container {
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .hire-jane-text-headline {
    font-size: 1.375rem;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 320px) {
  .hire-jane-text-container {
    top: 85px;
    left: 44px;
    width: 232px;
    height: 27px;
  }

  .hire-jane-text-headline {
    font-size: 1.125rem;
    padding: 0;
    text-align: center;
  }
}
