@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800;900");

.navigation {
  display: flex;
  width: 100%;
  height: 45px;
  position: absolute;
  top: 10px;
}

/* Nav Logo section  */

.navigation-logo-section {
  flex: 1;
}

.home-link {
  display: flex;
  height: 100%;
  width: fit-content;
  text-decoration: none;
}

.music-note {
  width: auto;
  height: 100%;
}

.logo-text-container {
  font-family: Poppins;
}

.logo-text {
  padding: 0;
  margin: 0;
  line-height: 1.1;
  color: white;
}

/* Nav Logo Menu  */

.navigation-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navigation-hamburger-menu {
  height: 100%;
  align-self: flex-end;
}

/* Media Queries  */

@media (max-width: 320px) {
  .navigation {
    top: 10px;
  }

  .music-note {
    margin-left: 10px;
  }

  .logo-text-container {
    font-size: 0.875rem;
    margin-left: 3px;
  }

  .navigation-hamburger-menu {
    margin-right: 10px;
  }
}
