@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800;900");

.navigation {
  display: flex;
  width: 100%;
  height: 45px;
  position: absolute;
  top: 10px;
}

/* Nav Logo section  */

.navigation-logo-section {
  flex: 1;
}

.home-link {
  display: flex;
  height: 100%;
  width: fit-content;
  text-decoration: none;
}

.music-note {
  width: auto;
  height: 100%;
}

.logo-text-container {
  font-family: Poppins;
}

.logo-text {
  line-height: 1.1;
  color: white;
}

/* Nav Logo Menu  */

.navigation-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navigation-hamburger-menu {
  height: 100%;
  align-self: flex-end;
}

.navigation-larger-display-menu {
  display: none;
}

.active {
  background-color: #f4732f;
}
.nav-space-right {
  margin-right: 15px;
}

/* Media Queries  */
@media (min-width: 1001px) {
  .navigation {
    top: 40px;
    max-width: 2400px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .navigation-logo-section {
    flex: 4;
  }

  .navigation-menu {
    display: none;
  }

  .navigation-larger-display-menu {
    font-family: Poppins;
    display: flex;
    font-size: 1rem;
    align-self: center;
    margin-right: 25px;
  }

  .navigation-larger-display-text {
    color: white;
    margin: 0;
  }

  .navigation-larger-display-hire,
  .navigation-larger-display-home {
    padding: 10px 15px;
    white-space: nowrap;
  }

  .music-note {
    margin-left: 40px;
  }

  .logo-text-container {
    font-size: 1.25rem;
    margin-left: 5px;
    white-space: nowrap;
    vertical-align: revert;
    display: flex;
    align-items: center;
  }

  .logo-text {
    display: inline-block;
    margin-right: 0.3125rem;
    line-height: 0;
  }

  .navigation-hamburger-menu {
    margin-right: 20px;
  }
}

@media (min-width: 501px) and (max-width: 1000px) {
  .navigation {
    top: 10px;
  }

  .navigation-logo-section {
    flex: 4;
  }

  .navigation-menu {
    display: none;
  }

  .navigation-larger-display-menu {
    font-family: Poppins;
    display: flex;
    font-size: 0.875rem;
    align-self: center;
  }

  .navigation-larger-display-text {
    color: white;
    margin: 0;
  }

  .navigation-larger-display-hire,
  .navigation-larger-display-home {
    padding: 10px 15px;
    white-space: nowrap;
  }

  .music-note {
    margin-left: 15px;
  }

  .logo-text-container {
    font-size: 0.875rem;
    margin-left: 5px;
    white-space: nowrap;
    vertical-align: revert;
    display: flex;
    align-items: center;
  }

  .logo-text {
    display: inline-block;
    margin-right: 0.3125rem;
    line-height: 0;
  }

  .navigation-hamburger-menu {
    margin-right: 15px;
  }
}

@media (min-width: 321px) and (max-width: 500px) {
  .navigation {
    top: 10px;
  }

  .music-note {
    margin-left: 15px;
  }

  .logo-text-container {
    font-size: 0.875rem;
    margin-left: 5px;
    white-space: nowrap;
  }

  .logo-text {
    display: inline-block;
    margin-right: 0.3125rem;
  }

  .navigation-hamburger-menu {
    margin-right: 15px;
  }
}

@media (max-width: 320px) {
  .navigation {
    top: 10px;
  }

  .music-note {
    margin-left: 10px;
  }

  .logo-text-container {
    font-size: 0.875rem;
    margin-left: 3px;
  }

  .logo-text {
    padding: 0;
    margin: 0;
  }

  .navigation-hamburger-menu {
    margin-right: 10px;
  }
}
