@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800;900");

.request-form-section-container {
  display: flex;
}

.request-form-field-section {
  flex: 1;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.radio-button-container {
  display: flex;
}

.radio-button {
  margin: 0;
}

.request-form-detail-container {
  flex: 1;
}

@media (max-width: 320px) {
  div.react-datepicker {
    display: flex;
  }
}
