@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700;800;900");

.request-form-section-container {
  display: flex;
}

.request-form-field-section {
  box-sizing: border-box;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.field-label {
  font-family: Poppins;
  font-weight: 400;
}

.field-input-textarea {
  font-family: Poppins;
  font-weight: 400;
}

.radio-button-container {
  display: flex;
  justify-content: space-between;
}

.radio-selection-container {
  flex: 1;
}

.radio-button {
  margin: 0;
}

.radio-button-label {
  font-family: Poppins;
  font-weight: 400;
  vertical-align: top;
}

.request-form-detail-container {
  box-sizing: border-box;
}

.request-form-detail {
  font-family: Poppins;
  font-weight: 200;
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  vertical-align: text-top;
}

.required-field {
  border-color: red;
}

.request-form-submit-button {
  width: 100%;
  color: white;
  background-color: #f4732f;
  border: 0;
  padding: 0;
  font-family: Poppins;
}

.request-form-submit-button-disabled {
  width: 100%;
  background-color: #747474;
  color: white;
  border: 0;
  padding: 0;
  font-family: Poppins;
}

.request-form-submit-button:active {
  background-color: #a85b32;
}

@media (min-width: 700px) {
  .request-form-section-container {
    margin-bottom: 16px;
    margin: 0 5% 5% 5%;
  }

  .request-form-field-section {
    padding: 0 10px 10px 0;
    width: 50%;
  }

  .field-container {
    margin-bottom: 1rem;
  }

  .field-label,
  .radio-button-label {
    font-size: 0.875rem;
  }

  .field-label {
    margin-bottom: 5px;
  }

  .field-input {
    height: 1.75rem;
  }

  .radio-button-label {
    margin-left: 3px;
  }

  .field-input-textarea {
    height: 400px;
    resize: none;
  }

  .request-form-detail-container {
    width: 50%;
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .request-top-space {
    margin-top: 2px;
  }

  .request-form-detail-text {
    display: block;
  }

  .request-detail-picture {
    width: 100%;
    object-fit: cover;
    margin-top: 7px;
    flex: 1;
  }

  .request-form-submit-button {
    font-size: 0.875rem;
    height: 30px;
    margin-top: 10px;
  }

  .request-form-submit-button-disabled {
    font-size: 0.75rem;
    height: 30px;
    margin-top: 10px;
  }

  .request-form-detail-text {
    margin-top: 1rem;
  }
}

@media (min-width: 321px) and (max-width: 699px) {
  .request-form-section-container {
    margin-bottom: 16px;
    margin: 0 15px 16px 15px;
  }

  .request-form-field-section {
    padding: 0 10px 10px 0;
    width: 50%;
  }

  .field-container {
    margin-bottom: 1rem;
  }

  .field-label,
  .radio-button-label {
    font-size: 0.875rem;
  }

  .field-label {
    margin-bottom: 5px;
  }

  .field-input {
    height: 1.75rem;
  }

  .radio-button-label {
    margin-left: 3px;
  }

  .field-input-textarea {
    height: 230px;
    resize: none;
  }

  .request-form-detail-container {
    width: 50%;
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .request-top-space {
    margin-top: 2px;
  }

  .request-form-detail-text {
    display: block;
  }

  .request-detail-picture {
    width: 100%;
    object-fit: cover;
    margin-top: 7px;
    flex: 1;
  }

  .request-form-submit-button {
    font-size: 0.875rem;
    height: 30px;
    margin-top: 10px;
  }

  .request-form-submit-button-disabled {
    font-size: 0.75rem;
    height: 30px;
    margin-top: 10px;
  }

  .request-form-detail-text {
    margin-top: 1rem;
  }
}

@media (min-width: 321px) and (max-width: 500px) {
  .request-form-field-section {
    padding: 0 5px 10px 0;
  }

  .request-form-detail-container {
    padding: 0 0 10px 5px;
  }
}

@media (min-width: 416px) and (max-width: 700px) {
  .request-form-detail {
    font-size: 0.875rem;
  }

  .request-form-detail-text {
    margin-top: 1rem;
  }
}

@media (min-width: 365px) and (max-width: 415px) {
  .request-form-detail {
    font-size: 0.8rem;
  }

  .request-form-detail-text {
    margin-top: 1rem;
  }
}

@media (min-width: 321px) and (max-width: 365px) {
  .field-label,
  .radio-button-label {
    font-size: 0.75rem;
  }

  .request-form-detail {
    font-size: 0.75rem;
  }

  .request-form-detail-text {
    margin-top: 0.5rem;
  }
}

@media (max-width: 320px) {
  .request-form-section-container {
    margin-bottom: 16px;
  }

  .request-form-field-section {
    padding: 0 5px 10px 10px;
    width: 50%;
  }

  .field-container {
    margin-bottom: 6px;
  }

  .field-label,
  .radio-button-label {
    font-size: 0.75rem;
  }

  .field-input {
    height: 24px;
  }

  .field-input-textarea {
    font-size: 0.75rem;
  }

  .radio-button-label {
    margin-left: 3px;
  }

  .field-input-textarea {
    height: 118px;
    resize: none;
  }

  .request-form-detail-container {
    width: 50%;
    padding: 0 10px 10px 5px;
  }

  .request-top-space {
    margin-top: 2px;
  }

  .request-form-detail {
    font-size: 0.6875rem;
    display: inline-block;
    vertical-align: text-top;
  }

  .request-detail-picture {
    width: 100%;
    height: 124px;
    object-fit: cover;
    margin-top: 7px;
  }

  .request-form-submit-button {
    font-size: 0.75rem;
    height: 30px;
    margin-top: 10px;
  }

  .request-form-submit-button-disabled {
    font-size: 0.75rem;
    height: 30px;
    margin-top: 10px;
  }
}
