@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800;900");

.request-form-section-container {
  display: flex;
}

.request-form-field-section {
  box-sizing: border-box;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.field-label {
  font-family: Poppins;
  font-weight: 400;
}

.field-input-textarea {
  font-family: Poppins;
  font-weight: 400;
}

.radio-button-container {
  display: flex;
  justify-content: space-between;
}

.radio-selection-container {
  flex: 1;
}

.radio-button {
  margin: 0;
}

.radio-button-label {
  font-family: Poppins;
  font-weight: 400;
  vertical-align: top;
}

.request-form-detail-container {
  box-sizing: border-box;
}

.request-form-detail {
  font-family: Poppins;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
}

.required-field {
  border-color: red;
}

.request-form-submit-button {
  width: 100%;
  color: white;
  background-color: #f4732f;
  border: 0;
  padding: 0;
  font-family: Poppins;
}

.request-form-submit-button-disabled {
  width: 100%;
  background-color: #747474;
  color: white;
  border: 0;
  padding: 0;
  font-family: Poppins;
}

.request-form-submit-button:active {
  background-color: #a85b32;
}

@media (min-width: 321px) and (max-width: 500px) {
  .request-form-section-container {
    margin-bottom: 16px;
  }

  .request-form-field-section {
    padding: 0 5px 10px 10px;
    width: 50%;
  }

  .field-container {
    margin-bottom: 6px;
  }

  .field-label,
  .radio-button-label {
    font-size: 0.75rem;
  }

  .field-input {
    height: 24px;
  }

  .radio-button-label {
    margin-left: 3px;
  }

  .field-input-textarea {
    height: 118px;
    resize: none;
  }

  .request-form-detail-container {
    width: 50%;
    padding: 0 10px 10px 5px;
  }

  .request-top-space {
    margin-top: 2px;
  }

  .request-form-detail {
    font-size: 0.6875rem;
    display: inline-block;
    vertical-align: text-top;
  }

  .request-detail-picture {
    width: 100%;
    height: 124px;
    object-fit: cover;
    margin-top: 7px;
  }

  .request-form-submit-button {
    font-size: 0.75rem;
    height: 30px;
    margin-top: 10px;
  }

  .request-form-submit-button-disabled {
    font-size: 0.75rem;
    height: 30px;
    margin-top: 10px;
  }
}

@media (max-width: 320px) {
  .request-form-section-container {
    margin-bottom: 16px;
  }

  .request-form-field-section {
    padding: 0 5px 10px 10px;
    width: 50%;
  }

  .field-container {
    margin-bottom: 6px;
  }

  .field-label,
  .radio-button-label {
    font-size: 0.75rem;
  }

  .field-input {
    height: 24px;
  }

  .field-input-textarea {
    font-size: 0.75rem;
  }

  .radio-button-label {
    margin-left: 3px;
  }

  .field-input-textarea {
    height: 118px;
    resize: none;
  }

  .request-form-detail-container {
    width: 50%;
    padding: 0 10px 10px 5px;
  }

  .request-top-space {
    margin-top: 2px;
  }

  .request-form-detail {
    font-size: 0.6875rem;
    display: inline-block;
    vertical-align: text-top;
  }

  .request-detail-picture {
    width: 100%;
    height: 124px;
    object-fit: cover;
    margin-top: 7px;
  }

  .request-form-submit-button {
    font-size: 0.75rem;
    height: 30px;
    margin-top: 10px;
  }

  .request-form-submit-button-disabled {
    font-size: 0.75rem;
    height: 30px;
    margin-top: 10px;
  }
}
