@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800;900");

.action-button {
  color: white;
  background-color: #f4732f;
  border: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 600;
}
