@import url("https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600;700;800;900");

.hero-section {
  position: relative;
}

.hero-section-background-picture {
  display: none;
}

/* Hero Section Veil */
.hero-section-veil {
  height: 100%;
  background-color: black;
  opacity: 50%;
  z-index: 3;
}

/* Hero Section Text */
.hero-section-text-container {
  position: absolute;
  font-family: Poppins;
  color: white;
}

.hero-section-text-headline {
  font-weight: 700;
  margin-top: 0;
}

.hero-section-text-subheadline {
  font-weight: 400;
}

.hero-section-text-button-container-large-display {
  display: none;
  position: absolute;
  font-family: Poppins;
  color: white;
}

/* Media Queries */
@media screen and (min-width: 1001px) {
  .hero-section {
    background-repeat: no-repeat;
    background-image: url("../../../public/grand-piano.jpg");
    height: 100vh;
    background-position: 1% 90%;
    background-size: 128%;
  }

  .hero-section-text-container {
    display: none;
  }

  .hero-section-text-button-container-large-display {
    display: flex;
    flex-direction: column;
    top: 28%;
    width: 30%;
    left: 5%;
  }

  .hero-section-text-subheadline {
    display: none;
  }

  .action-button-hero-section {
    display: none;
  }

  .hero-section-text-headline-large-display {
    font-size: 2.25rem;
    font-weight: 700;
    font-family: Poppins;
    margin: 0 0 5% 0;
  }

  .hero-section-text-subheadline-large-display {
    font-weight: 400;
    font-size: 1.1rem;
    color: #e2e2e2;
    margin: 0;
    margin-bottom: 15%;
  }

  .hero-section-text-subheadline {
    display: none;
  }

  .hero-section-text-headline,
  .hero-section-text-subheadline {
    padding: 0;
    text-align: left;
  }

  .action-button-hero-section-large-display {
    height: 50px;
    font-size: 1.25rem;
    width: 95%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .hero-section {
    background-repeat: no-repeat;
    background-image: url("../../../public/grand-piano.jpg");
    height: 100vh;
    background-position: 8% 100%;
    background-size: 135%;
  }

  .hero-section-text-button-container-large-display {
    display: flex;
    flex-direction: column;
    top: 28%;
    width: 30%;
    left: 5%;
  }

  .hero-section-text-headline-large-display {
    font-size: 1.75rem;
    font-weight: 700;
    font-family: Poppins;
    margin: 0 0 5% 0;
  }

  .hero-section-text-subheadline-large-display {
    font-weight: 400;
    font-size: 1rem;
    color: #e2e2e2;
    margin: 0;
    margin-bottom: 15%;
  }

  .action-button-hero-section-large-display {
    height: 50px;
    font-size: 1.1rem;
    width: 95%;
  }
}

@media screen and (min-width: 1800px) {
  .hero-section {
    background-repeat: no-repeat;
    background-image: url("../../../public/grand-piano.jpg");
    height: 985px;
    background-position: 0 100%;
    background-size: 100%;
  }

  .hero-section-text-button-container-large-display {
    display: flex;
    flex-direction: column;
    top: 28%;
    width: 24%;
    left: 5%;
  }
}

@media screen and (min-width: 2400px) {
  .hero-section {
    background-repeat: no-repeat;
    background-image: url("../../../public/grand-piano.jpg");
    height: 985px;
    background-position: center 75%;
    background-size: 100%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .hero-section {
    height: 390px;
    background-position: 9% 83%;
    background-repeat: no-repeat;
    background-image: url("../../../public/grand-piano.jpg");
    background-size: 140%;
  }

  .hero-section-text-container {
    top: 30%;
    width: 33%;
    left: 5%;
  }

  .hero-section-text-headline {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .hero-section-text-subheadline {
    display: none;
  }

  .hero-section-text-headline,
  .hero-section-text-subheadline {
    padding: 0;
    text-align: left;
  }

  .action-button-hero-section {
    height: 36px;
    bottom: 20%;
    width: 31%;
    left: 5%;
    position: absolute;
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  .hero-section {
    height: 390px;
    background-position: 0% 73%;
    background-repeat: no-repeat;
    background-image: url("../../../public/grand-piano.jpg");
    background-size: 135%;
  }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
  .hero-section {
    height: 390px;
    background-position: 0% 80%;
    background-repeat: no-repeat;
    background-image: url("../../../public/grand-piano.jpg");
    background-size: 135%;
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  .hero-section {
    height: 390px;
    background-position: 9% 100%;
    background-repeat: no-repeat;
    background-image: url("../../../public/grand-piano.jpg");
    background-size: 140%;
  }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .hero-section-text-container {
    top: 25%;
    width: 33%;
    left: 5%;
  }

  .hero-section-text-headline {
    font-size: 1.4rem;
    font-weight: 700;
  }

  .action-button-hero-section {
    height: 40px;
    bottom: 20%;
    width: 30%;
    left: 5%;
    position: absolute;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 850px) and (max-width: 1000px) {
  .hero-section-text-headline {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 501px) and (max-width: 565px) {
  .action-button-hero-section {
    height: 36px;
    bottom: 20%;
    width: 33%;
    left: 5%;
    position: absolute;
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 500px) {
  .hero-section {
    height: 390px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("../../../public/grand-piano-small.jpg");
  }

  .hero-section-text-container {
    top: 87px;
    width: 70%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-section-text-headline {
    font-size: 1.25rem;
    font-weight: 900;
  }

  .hero-section-text-subheadline {
    font-size: 0.85rem;
    color: #e2e2e2;
  }

  .hero-section-text-headline,
  .hero-section-text-subheadline {
    padding: 0;
    text-align: center;
  }

  .action-button-hero-section {
    bottom: 40px;
    width: 225px;
    height: 36px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 320px) {
  .hero-section {
    height: 340px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-image: url("../../../public/grand-piano-small.jpg");
  }

  .hero-section-text-container {
    top: 87px;
    left: 44px;
    width: 232px;
    height: 148px;
  }

  .hero-section-text-headline {
    font-size: 1.125rem;
  }

  .hero-section-text-subheadline {
    font-size: 0.6875rem;
    color: #e2e2e2;
  }

  .hero-section-text-headline,
  .hero-section-text-subheadline {
    padding: 0;
    text-align: center;
  }

  .action-button-hero-section {
    top: 287px;
    left: 72px;
    width: 177px;
    height: 30px;
    font-size: 0.75rem;
    position: absolute;
  }
}
